{% extends "base.html" %} {% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2 class="text-center">Вход</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-error">{{form.non_fields_errors}}</div>
                <div class="mb-3">
                    <label for="username" class="form-label"
                        >Имя пользователя</label
                    >
                    <input
                        type="text"
                        id="username"
                        name="username"
                        class="form-control"
                        required
                    />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Пароль</label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        required
                    />
                </div>
                <button type="submit" class="btn btn-primary w-100">
                    Войти
                </button>
            </form>
            <div class="mt-3 text-center">
                <a href="{% url 'password_reset'%}">Забыли пароль?</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
